<%- include('partials/header.ejs') %>
<div class="color-bottom"></div>

<div class="about-container row">
    <div class="col-lg-8">
        <h2 class="about-header">Know who <span class="name">I am</span></h2>
        <p class="about-para">Hi Everyone, I am Vishruth from Bengaluru, India.
            I am a third year Engineering student pursuing Information Science Engineering at NHCE.</p>
        <h3 class="extra-curr">Apart from coding, some other acitivies that i love to do!</h3>
        <ul class="extra-curr">
            <li><i class="fa-solid fa-hand-pointer fa-rotate-90"></i> Photography</li>
            <li><i class="fa-solid fa-hand-pointer fa-rotate-90"></i> Photo and Video manipulation</li>
            <li><i class="fa-solid fa-hand-pointer fa-rotate-90"></i> Playing Video Games</li>
        </ul>
    </div>
    <div class="col-lg-4">
        <img class="about-img" src="assets/home-main.svg" alt="about img">
    </div>
</div>


<div class="about-bottom row">
    <div class="skills col-lg-6">
        <h2 class="car-text">Professional<span class="name"> Skillset</span></h2>
        <div id="carouselExampleAutoplaying1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/carousel/python.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/java.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/front-end.webp" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/dart.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/c.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/mern.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/jquery.png" class="d-block w-100 car-items" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>


    <div class="tools col-lg-6">
        <h2 class="car-text"><span class="name">Tools</span> I use</h2>
        <div id="carouselExampleAutoplaying2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/carousel/adobe.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/vscode.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/blender.png" class="d-block w-100 car-items" alt="...">
              </div>
            </div>
            <div class="carousel-item">
                <img src="assets/carousel/android-studio.webp" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/eclipse.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="assets/carousel/flutter.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/carousel/jquery.png" class="d-block w-100 car-items" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="assets/carousel/notebook.png" class="d-block w-100 car-items" alt="...">
              </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

</div>




<%- include('partials/footer.ejs') %>