<%- include('partials/header.ejs') %>

<div class="contact-container row">
    <div class="col-lg-5">
        <img class="contact-img" src="/assets/contact.png" alt="contact-img">
    </div>
    <div class="col-lg-7">
        <h2 class="contact-header">Contact <span class="name">Me</span> :)</h2>
        <div class="row">
            <div class="col-md-7 form">
                <form action="/submit" method="post">
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                        <input type="fullname" class="form-control" name="name">
                      </div>
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" name="message" rows="2"></textarea>
                  </div>
                  <div>
                    <button type="submit" value="submit" class="btn btn-secondary">submit</button>
                  </div>
                </form>
            </div>
            <div class="col-md-5 contact-text">
                <div class="mail-text">
                    <h5>Mail</h5>
                    <h6>vishruth555@gmail.com</h6>
                </div>
                <div class="loc-text">
                    <h5>Based in</h5>
                    <h6>Bangalore, India</h6>
                </div>
                <div class="links">
                        <a class="text-light link" href="https://www.instagram.com/vishrxth_/"><i class="fa-brands fa-instagram fa-xl"></i></a>
                        <a class="text-light link" href="https://www.linkedin.com/in/vishruth555"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                        <a class="text-light link" href="https://www.github.com/vishruth555"><i class="fa-brands fa-github fa-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="/func.js"></script>