
<%- include('partials/header.ejs') %>


<div class="top row">
    <div class="top-left col-sm">
        <h1 class="top-text">Hi There!</h1>
        <h1 class="top-text">I'm <span class="name">Vishruth PS Reddy</span></h1>
        <h1 class=" top-text aspire-text">Aspiring Software Developer</h1>
    </div>
    <div class="col-sm">
        <img class="top-img" src="/assets/about.png" alt="about.png">
    </div>
</div>


<div class="color-bottom"></div>
<div class="bottom row">
    <div class="bottom-text col-md-9">
        <h1 class="bottom-header">LET ME <span class="name">INTRODUCE</span> MYSELF</h1>
        <p>A highly motivated and results-oriented individual with a passion for technology.
            Backed by a proven track record of success in a variety of roles, including team
            coordination, volunteering within a multitude of organisations and other cocurricular activities. A team player with commendable communication and problemsolving skills. Always eager to learn new things, take on new challenges and willing
            to go the extra mile for the results.</p>
    </div>
    <div class="col-md-3">
        <img src="/assets/avatar.svg" alt="avatar">
    </div>
</div>

<%- include('partials/footer.ejs') %>

