/* 
#2E4374
#4B527E
#7C81AD
#E5C3A6 
*/


* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x:hidden;
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.color-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(black,#2E4374  );
    opacity: 0.28;
}



@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  
}

.stars {
  background:#000 url(assets/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(assets/twinkling.png) repeat top center;
  z-index:-2;
  animation:move-twink-back 400s linear infinite;
}

nav {
    font-size: 1.8rem;
}


.top {
    margin: 20px;
    text-align: center;
    margin-top: 10%;
    height: 100vh;

}
.top-left {
    text-align: left;
    padding-left: 8%;
    padding-top: 4%;
}
.top-img {
    width: 80%;
}
.top-text {
    font-size: 2rem;
    padding: 0.2rem;
}
.aspire-text {
    padding-top: 5%;
}
.name {
    color: #5d39b1;
}


.color-bottom {
    z-index: -2;
    position: absolute;
    top: 100vh;
    background-color: #2E4374;
    /* background-image: linear-gradient(#2E4374,black  ); */
    opacity: 0.28;
    width: 100%;
    height: 140vh;
}

.bottom {
    text-align: center;
    padding: 3%;
    height: 95vh;
}
.bottom-text {
    font-size: 1.5rem;
}
.bottom-header {
    margin-bottom: 3%;
}
.footer {
    z-index: -2;
    margin-top: 10rem;
    position: absolute;
    top: 225vh;
    margin: auto;
    width: 95%;
}




/* ------about page-------- */


.about-container {
    padding-top: 5rem;
    text-align: left;
    margin: 2rem;
    font-size: 1.5rem;
    min-height: 90vh;
}
li {
    list-style-type: none;
}
.about-img {
    width: 80%;
}
.about-header {
    text-align: center;
    font-size: 5rem;
}
.about-para {
    text-align: center;
    padding-bottom: 5rem;
}
.extra-curr {
    margin-left: 4rem;
}
.car-items {
    height: 20rem;
}

.about-bottom {
    padding-top: 5rem;
    padding: 60px;
    background-image: radial-gradient(rgba(122, 60, 214, 0.2), rgb(0, 0, 0,0));
}
.car-text {
    font-size: 3rem;
    margin-bottom: 10rem;
}
.skills {
    padding-right: 40px;
}
.tools {
    padding-left: 40px;
}